<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Devider-v.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 6}</string>
			<key>spriteSourceSize</key>
			<string>{44, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 244}, {44, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Devider.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 44}</string>
			<key>spriteSourceSize</key>
			<string>{6, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 46}, {6, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Facebook.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 19}, {26, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 52}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 54}, {26, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Info.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 23}, {24, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 44}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 146}, {24, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Music_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 21}, {40, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 48}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 46}, {40, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Music_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 22}, {38, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 46}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 54}, {38, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Settings_Icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 120}</string>
			<key>spriteSourceSize</key>
			<string>{136, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {136, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Share_Icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 120}</string>
			<key>spriteSourceSize</key>
			<string>{136, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 122}, {136, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sound_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 20}, {34, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{34, 48}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 96}, {34, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sound_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 21}, {32, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 48}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 102}, {32, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 19}, {52, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 52}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 0}, {52, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tweeter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 23}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 0}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>MainMenu.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default hd</string>
			<key>textureFileName</key>
			<string>default hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>